@import url('https://fonts.googleapis.com/css?family=Fresca:300,400,900&display=swap');

html { /* everything will inherit from html */
  box-sizing: border-box;  /* paddings and borders will be included inside the element  */
}
*, *:before, *:after {  /* :pseudo element; e.g. :hover*/
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  /* background-color: #e9ebee; */
  background-color: gainsboro;
  line-height: 1.25; /* space between lines (times font size) */
  height: 100vh; /* relative to 1% of the height of the viewport */
}

body, 
button 
{
  font-family: Fresca,Helvetica,Arial,sans-serif; /* font stack */
  /* Prevent copying */
  /* -webkit-touch-callout: none; iOS Safari */
  /* -webkit-user-select: none; Safari */
   /* -khtml-user-select: none; Konqueror HTML */
     /* -moz-user-select: none; Firefox */
      /* -ms-user-select: none; Internet Explorer/Edge */
          /*user-select: none; /* Non-prefixed version, currently
                                supported by Chrome and Opera */
}

.Blue-color {
  color:  darkblue;
}

.Dark-red-color {
  color: DarkRed;
}

/*  =================
      DashboardMain
    ================= */

.DashboardMain {
  /* background-color: #e9ebee; */
  background-color: gainsboro;
  display: grid;
  grid-template: repeat(2, auto) / repeat(3, 1fr); 
  grid-template-areas:
    'Dashboard-initialList Dashboard-sort Dashboard-time' 
    'Dashboard-newestWatch Dashboard-logo Dashboard-oldestWatch';
}

.Dashboard-header {
  font-size: 2rem;
  padding-bottom: 30px;
  text-align: center;
}

.Dashboard-initialList {
  grid-area: Dashboard-initialList;
}

.Dashboard-sort {
  grid-area: Dashboard-sort;
}

.Select-sort {
  border: 1px solid;
  font: inherit;
  min-width: 300px;
  text-align: center;
}

.Dashboard-time {
  grid-area: Dashboard-time;
}

.Dashboard-time {
  margin-top: 20px;
  margin-left: 30px;
}

.Dashboard-newestWatch {
  grid-area: Dashboard-newestWatch;
}

.Dashboard-logo {
  grid-area: Dashboard-logo;
}

.Dashboard-oldestWatch {
  grid-area: Dashboard-oldestWatch;
}

.Dashboard-item
{
  align-self: center;
  justify-self: center;
  /* border: 2px solid purple; */
}

.Dashboard-totalWatches,
.Dashboard-totalWatchRelated,
.Sort-header
{
  margin-top: 10px;
}

.WatchRelated-text,
.Welcome-text
{
  text-align: center;
  /* text-shadow: 2px 2px 5px orange; */
}

.Dashboard-watchText,
.Dashboard-watchText-new,
.Dashboard-watchText-old,
.Sort-header 
{
  text-align: center; 
}

.Dashboard-watchText-new,
.Dashboard-watchText-old 
{
  color: #404040; 
}

.Dashboard-totalWatchRelated,
.Dashboard-totalWatches 
{
  text-align: center;
  font-size: 1.25em; 
}

.Watch-num {
  font-size: 1.2em;
}

.Related-num {
  font-size: 1.2em;
}

.Oldest-watch,
.Newest-watch 
{
  font-size: 1.25em;
}

/*  ==================
      Homepage
      LogIn
      logo
      WatchRelated
      Register
      SignUp
      SignUp-container
    ================== */

.Logo {
  margin: 0 auto;
  padding-bottom: 25px;
}

.LogoText {
  margin: 10px 10px 0px;
}

.Homepage-title {
  background-color: #454140;
  color: cornsilk;
  padding: 10px 20px; 
  margin-bottom: 60px;
}

.Homepage,
.Register 
{
  display: flex; /* creates columns (margins no longer collapse)
                    Default flex-direction is row */
  flex-direction: column;
  justify-content: center; 
}

.Register {
  font-size: .25rem;
  margin: 0 auto; /* centers horizontally & vertically */
  max-width: 300px;
  text-align: center;
}

.Homepage {
  align-items: center; 
  height: 100vh; 
}

.Homepage,
.LogIn,
.SignUp,
.WatchRelated
{
  background-color: gainsboro; /* only displays if the image is delayed or doesn't load */
  background-image: url(./images/watch-background-5.jpg);
  background-position: center; /* shows center of image in responsive mode */
  background-size: cover; /* Fills the screen with the whole image */
}

.LogIn, 
.Logo,
.SignUp 
{
  display: block;
}

.LogIn, 
.SignUp 
{
  height: 100vh;
  padding-top: 15px;
}

.LogIn-banner {
  background-color: #454140;
  color: cornsilk;
  font-size: 1.25rem; /* relative to font size of root (html) element, which is defaulted  to 16px */
  margin: auto;
  margin-bottom: 10px;
  max-width: 300px;
  padding: 10px;
  text-align: center;
}

.LogIn-container, 
.SignUp-container 
{
  display: grid;
}

.WatchRelated {
  display: grid;
  height: 100vh;
}

.WatchRelated-container {
  align-self: center;
  justify-self: center;
  width: 590px;
}


.WatchRelated-container p {
  padding-left: 90px;
}

.WatchRelated-OL {
  padding-left: 120px;
}

.WatchRelated-info-tab {
  margin-left: 40px;
}

.WatchRelated-note {
  text-shadow: 2px 2px 5px orange;
}

/*  =================
        buttons
    ================= */

.btn {
  border-radius: 5px; /* rounds corners */
}

.Button-text {
  letter-spacing: 2px; /* puts spaces between letters */
}

button:focus,
.Select-sort
{
  outline:0;
}

.Search-button {
  background-color: khaki;
  color: black;
  font: inherit;
  padding: 4px 8px;
  text-transform: uppercase;
}

.Search-button:hover {
  background-color: #454140;
}

.btn:hover {
  color: goldenrod;
  cursor: pointer;
}

.Image-link:hover {
  cursor: pointer
}

.Home-button {
  border-color: white;
  border-style: solid;
  border-width: 1px;
  font-size: 1.25rem;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 15px;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
}

.LogIn-home-button,
.SignUp-home-button
{
  border-color: white;
  border-style: solid;
  border-width: 1px;
  font-size: 1.25rem;
  margin-top: 15px;
  text-align: center;
  text-decoration: none;
}

.Back-button,
.WatchRelated button
{
  font-size: 1rem; 
  margin-bottom: 10px;
  margin-left: 20px;
  margin-top: 10px;
  height: 60px;
  padding: 10px 20px; 
}

.FullList-button {
  font-size: 1rem;
  margin-top: 50px;
  padding: 10px 20px;
}

.Back-button,
.FullList-button,
.Home-button,
.LogIn-button,
.LogIn-home-button,
.ProfileUpdate-button, 
.Save-button,
.SignUp-button,
.SignUp-home-button
{
  background-color: #454140;
  color: cornsilk;
  text-transform: uppercase;
}

.LogIn-button,
.ProfileUpdate-button,
.Save-button,
.SignUp-button 
{
  display: block; 
  font-size: 2rem; 
  margin-top: 5px;
  padding: 10px;
}

.ProfileUpdate-button {
  margin-bottom: 30px;
}

.ProfileDelete {
  display: grid;
  justify-content: center;
  border-radius: 5px;
}

.ProfileDelete-button {
  font-size: 1rem;  
  margin-top: 5px;
  padding: 10px;
}

.Add-watch-button,
.Add-watch-related-button,
.Watch-related-info-button
{
  color: cornsilk;
  margin-left: 5px;
}

.Add-watch-button,
.Add-watch-related-button,
.Edit-button,
.Watch-related-info-button
{
  background-color: #454140;
}

.Add-watch-button,
.Add-watch-related-button,
.Edit-button,
.Delete-button, 
.Watch-related-info-button
{
  font-size: 1rem;
  padding: 4px 8px;
  text-decoration: none;
  text-transform: uppercase;
}

.Watch-related-info-button {
  margin-top: 8px;
  padding: 5px 8px;
}

.Edit-button,
.Delete-button 
{
  height: 40px;
  min-width: 100px;
  padding: 10px 20px; 
  text-align: center;
}

.Edit-button {
  color: white;
}

.Delete-button,
.ProfileDelete-button
{
  background-color: khaki;
  border-color: red;
  color: darkred;
  margin-left: 10px; 
}

.WatchRelated-container {
  /* background-color: #e9ebee; */
  background-color: gainsboro;
}

.WatchRelated-container button {
  background-color: #454140;
  color: white;
  text-transform: uppercase;
  margin-bottom: 20px;
  margin-left: 200px;
  max-width: 300px;
}

.List-icon {
  margin: 1em;
  width: 40px;
}

.List-icon:hover {
  cursor: pointer;
}

.List-icon:after, 
.List-icon:before, 
.List-icon div 
{
  background-color: DarkRed;
  border-radius: 3px;
  content: '';
  display: block;
  height: 5px;
  margin: 7px 0;
  transition: all .2s ease-in-out;
}

.List-icon:hover:before {
  transform: translateY(12px) rotate(135deg);
}

.List-icon:hover:after {
  transform: translateY(-12px) rotate(-135deg);
}

.List-icon:hover div {
  transform: scale(0);
}

/*  ==================
    file upload button
    ================== */

/* Chrome/Safari and web-kit-based browsers */
::-webkit-file-upload-button {
  cursor:pointer;
}

/* IE11 */
input[type=file] {
  cursor:pointer;
}

/*  =================
          forms
    ================= */

input::placeholder {
  font-size: 1.2em;
}

hr.ProfileDelete {
  border: 10px solid #454140;
  border-radius: 5px;
  margin-bottom: 10px
}

hr.WatchDetail {
  border: 2px solid #454140;
  border-radius: 5px;
  margin-bottom: 3px;
}

.WatchForm-header,
.ProfileForm-header
{
  /* font-family: Ubuntu,sans-serif; */
  margin-bottom: 10px;
  text-align: center;
}

.ProfileForm-subheader {
  color: black;
  text-align: center;
  margin-bottom: 10px;
}

.ProfileForm-cancel-header,
.ProfileForm-NewPassword-text 
{
  color: DarkRed;
}

.Center-text,
.ProfileForm-cancel-header 
{
  text-align: center;
}

.WatchForm-upload-text {
  font-size: 1rem; 
  color: darkred;
  margin-top: 3px;
  text-align: center;
}

#AddWatch-Form,
.EditWatch-Form,
.Profile
{
  display: grid;
  font-size: .75rem;
  justify-content: center;
  margin: 0 auto; 
  max-width: 300px
}

.LogIn-element, 
.SignUp-element
{
  align-self: center;
  background-color: #454140;
  color: cornsilk;
  border-radius: 5px; 
  border: solid 1px;
  display: flex;
  font-size: 1.25rem;
}

.LogIn-element label,
.SignUp-element label
{
  padding: 2px 4px;
  text-align: right;
}

.LogIn-element label {
  width: 90px;
}

.SignUp-element label {
  width: 160px;
}

.Profile label,
#AddWatch-Form label,
.EditWatch-Form label
{
  font-size: 1rem;
  font-weight: 900;
  margin-bottom: 3px;
  text-align: left;
}

.WatchForm-container {
  padding-bottom: 15px;
}

.Input-element,
.LogIn-input-element,
.SignUp-input-element,
.Text-area
{
  border-color: black;
  border-radius: 5px; 
  font-size: .75rem;
  padding: .25em;
}

.Input-element {
  min-width: 350px;
}

.Input-related {
  color: darkred
}

.Text-area {
  padding-bottom: 40px;
}

.LogIn-input-element,
.SignUp-input-element 
{
  min-width: 300px;
}

input:required,
textarea:required 
{
  border-color: red;
}

.WatchDetail {
  margin-bottom: 10px;
}

.Detail-css {
  color: darkred;
  font-size: 1rem;
  text-transform: uppercase;
}

/*  ===================================
      media queries - placed last
      to override any other settings
    =================================== */

@media (max-width: 750px) {

  .Dashboard-header {
    padding-top: 30px;
  }

  .Dashboard-date, 
  .Dashboard-logo,
  .Dashboard-time
  {
    display: none;
  }
  
  .DashboardMain {
    grid-template: repeat(4, auto) / repeat(1, 1fr); 
    grid-template-areas:
      'Dashboard-sort' 
      'Dashboard-initialList'
      'Dashboard-newestWatch'
      'Dashboard-oldestWatch';
  }

  .Dashboard-initialList,
  .Dashboard-newestWatch,
  .Dashboard-oldestWatch,
  .Dashboard-sort
  {
    align-self: center;
    justify-self: center;
    margin-left: 150px;
  }

  .Dashboard-totalText {
    margin-bottom: 15px;
  }

  .Dashboard-watchText {
    margin-top: 20px;
  }

  .Select-sort {
    min-width: 230px;
  }

  .Edit-button {
    margin-bottom: 10px;
  }

  .Edit-button,
  .Delete-button 
  {
    margin-left: 170px;
    max-width: 100px;
  }

  #Navbar-Search-Form {
    margin-top: 10px;
  }

  .Search-button {
    padding: 1px 2px;
  }

  .Watch-detail .Back-button {
    margin-left: 80px;
  } 

  .Profile-container,
  .WatchForm-container,
  .Back-button 
  {
    display:block;
    margin: 35px auto;
    margin-top: 15px;
    width: 450px;
  } 

  .ProfileForm-subheader{
    font-size: 1.2rem;
  }

  .ProfileDelete-button {
    margin-left: 5px;
    min-width: 300px;
    padding: 10px 20px;
  }

  .WatchDetail {
    font-size: 1rem;
  }

  .WatchRelated-container {
    padding-right: 15px;
    padding-left: 15px;
    width: 500px;
  }

  .WatchRelated-container p {
    padding-left: 30px;
  }

  .WatchRelated-OL {
    padding-left: 60px;
  }

  .WatchRelated-container button {
    margin-bottom: 20px;
    margin-left: 145px;
    max-width: 300px;
  }

}

@media (min-width: 750px) and (max-width: 1104px) {

  .Dashboard-header {
    padding-top: 30px;
  }

  .Dashboard-logo{
    display: none;
  }

  .DashboardMain {
    grid-template: repeat(5, auto) / repeat(1, 1fr); 
    grid-template-areas:
      'Dashboard-sort' 
      'Dashboard-initialList'
      'Dashboard-time'
      'Dashboard-newestWatch'
      'Dashboard-oldestWatch';
  }

  .Dashboard-time,
  .Dashboard-totalText,
  .Dashboard-watchText
  {
    margin-top: 15px;
  }

  .WatchRelated-container button {
    margin-bottom: 20px;
    margin-left: 200px;
    max-width: 300px;
  }
}

@media (max-width: 945px) {
  .Back-button {
    display:block;
    margin: 35px auto;
    margin-top: 15px;
    width: 300px;
  }
}

@media (max-width: 1184px) {
  #AddWatch-Form,
  .EditWatch-Form
  {
    display: grid;
  }
  
}

@media (min-width: 1500px) {

  body {
    font-size: 1rem;
  }

  .Dashboard-header {
    font-size: 3rem;
  }

  .Dashboard-time {
    margin-top: 40px;
  }

  #AddWatch-Form label,
  .EditWatch-Form label,
  .Profile label  
  {
    font-size: 1.1rem;
  }

  #AddWatch-Form input,
  .EditWatch-Form input
  {
    font-size: 1rem;
    min-width: 400px
  }

  .LogIn, 
  .SignUp {
    padding-top: 100px;
  }

  .Input-element,
  .LogIn-input-element,
  .SignUp-input-element
  {
    font-size: 1rem;
    height: 2rem;
  }

  .Back-button {
    margin-left: 80px;
  }

  .LogIn-home-button,
  .SignUp-home-button
  {
    font-size: 1.5rem;
  }

  .Text-area {
    font-size: 1rem
  }

  .Search-button {
    font-size: 1rem;
  }

  .Watch-detail {
    padding-left: 250px;
  } 

  .Detail-css {
    font-size: 1.1rem;
  }

  .WatchDetail {
    font-size: 1.6rem;
    margin-bottom: 10px;
    max-width: 450px;
  }

  .WatchForm-header,
  .ProfileForm-header,
  .ProfileForm-subheader
  {
    font-size: 2rem;
    margin-bottom: 15px;
  }

  .WatchForm-upload-text {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .Choose-image {
    margin-bottom: 10px;
  }

  .WatchRelated-container {
    font-size: 1.25rem;
    width: 700px;
  }  

  .WatchRelated-container button {
    margin-left: 250px;
  }

  .WatchRelated-container button,
  .WatchRelated-text 
  {
    margin-bottom: 20px;
    margin-top: 15px;
  }

  .WatchRelated-info-tab {
    margin-left: 49px;
  }

  .Welcome-text {
    font-size: 2rem;
  }

  .Center-text {
    font-size: 1.5rem;
  }

  .Oldest-watch,
  .Newest-watch 
  {
    font-size: 1.5em;
  }

  .Dashboard-totalWatchRelated,
  .Dashboard-totalWatches 
  {
    text-align: center;
    font-size: 1.5em; 
  }

}

@media (max-width: 1944px) {
  .Back-button {
    margin-left: 80px;
  }
  hr.WatchDetail {
    max-width: 450px;
  }
}
