@import url('https://fonts.googleapis.com/css?family=Fresca:300,400,900&display=swap');


html { /* everything will inherit from html */
  box-sizing: border-box;  /* paddings and borders will be included inside the element  */
}
*, *:before, *:after {  /* :pseudo element; e.g. :hover*/
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  background-color: cornsilk;
  line-height: 1.25; /* space between lines (times font size) */
  max-height: 95vh; /* relative to 1% of the height of the viewport */
}

body, 
button 
{
  font-family: Fresca,Helvetica,Arial,sans-serif; /* font stack */
  /* Prevent copying */
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome and Opera */
}

/*  =================
        Dashboard
        (CSS Grid)
    ================= */

.Dashboard {
  background-color: cornsilk;
  display: grid;
  grid-template: auto auto 35px auto / auto auto auto;
}

.DashboardLogo {
  align-self: center; /* center vertically */
  justify-self: center; /* center horizontally */
  grid-row: 2 / 3;
  grid-column: 2 / 3;
}

.Dashboard h2 {
  align-self: center;
  justify-self: center;
  background: yellow;
  color: #454140;
  grid-row: 3 / 4;
  grid-column: 2 / 3;
}

/*  =================
        footer
    ================= */

footer {
  color:cornsilk;
  padding: 12px 24px;
  text-align: center;
}

/*  ==================
      Homepage
      LogIn
      Login-container 
      Register
      SignUp
      Signup-container
      logo
    ================== */

.Logo {
  margin: 0 auto;
  padding-bottom: 25px;
}

.LogoText {
  margin-top: 5px;
  margin-left: 15px;
}

.Homepage,
.Register {
  display: flex; /* creates columns (margins no longer collapse)
                    Default flex-direction is row */
  flex-direction: column;
  justify-content: center; 
}

.Register {
  font-size: .25rem;
  margin: 0 auto; /* centers horizontally & vertically */
  max-width: 300px;
  text-align: center;
}

.Homepage {
  align-items: center; /* flex-start - flex-end - baseline */
  min-height: 95vh; 
}

.Homepage,
.Login,
.Signup {
  background-color: cornsilk; /* only displays if the image is delayed or doesn't load */
  background-image: url(../images/watch-background-5.jpg);
  background-position: center; /* shows center of image in responsive mode */
  background-size: cover; /* Fills the screen with just one image */
}

.Login, 
.Logo,
.Signup 
{
  display: block;
}

.Login, 
.Signup {
  min-height: 95vh;
  padding-top: 40px;
}

.Login-banner {
  background-color: #454140;
  color: cornsilk;
  font-size: 1.25rem; /* relative to font size of root (html) element, which is defaulted  to 16px */
  margin: auto;
  margin-bottom: 10px;
  max-width: 300px;
  padding: 15px;
  text-align: center;
}

.Login-container, 
.Signup-container {
  display: grid;
}

/*  =================
        buttons
    ================= */

.btn {
  border-radius: 5px; /* rounds corners */
}

.Button-text {
  letter-spacing: 2px; /* puts spaces between letters */
}

button:focus {
  outline:0;
}

button:hover,
.Sidebar-button:hover {
  cursor: pointer;
}

.Home-button {
  border-color: white;
  border-style: solid;
  border-width: 1px;
  font-size: 1.25rem;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 15px;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
}

.Back-button {
  font-size: 1rem; 
  margin-bottom: 10px;
  margin-left: 20px;
  margin-top: 10px;
  padding: 10px 20px; 
}

.Back-button, 
.Home-button,
.Login-button, 
.Save-button,
.Signup-button 
{
  background-color: #454140;
  color: cornsilk;
  text-transform: uppercase;
}

.Login-button, 
.Save-button,
.Signup-button 
{
  display: block; 
  font-size: 2rem; 
  margin-top: 5px;
  padding: 10px;
}

.Add-button {
  color: khaki;
}

.Add-button,
.Edit-button,
footer
{
  background-color: #454140;
}

.Add-button,
.Edit-button,
.Red-button 
{
  font-size: 1rem;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.Edit-button,
.Red-button 
{
  color: cornsilk;
  max-height: 40px;
  min-width: 100px;
  padding: 10px 20px; 
}

.Red-button {
  background-color: red;
  margin-left: 10px; 
}

/*  ======================
      file upload button
    ====================== */

/* Chrome/Safari and web-kit-based browsers */
::-webkit-file-upload-button {
  cursor:pointer;
}
/* IE11 */
input[type=file] {
  cursor:pointer;
}

/*  =================
          forms
    ================= */

.WatchForm-header {
  color: sienna; 
  font-family: Ubuntu,sans-serif;
  margin-bottom: 7px;
}

.WatchForm-image {
  font-size: 1rem; 
  color: sienna;
  margin-top: 3px;
}

#AddWatch-form, 
.EditWatch-form
{
  display: flex;
  flex-direction: column; /* switches the main axis (of display: flex;) */
  font-size: .75rem;
  justify-content: center; /* space-between; (distributes space from right between all columns)
                           /* space-evenly; (distributes space on outer & between columns) */
  margin: 0 auto;
  max-height: 75vh;
  max-width: 300px;
  text-align: center;
}

.WatchForm-container {
  min-height: 95vh;
  padding-bottom: 15px;
}

.Input-element {
  border-color: black;
  border-radius: 5px; 
  font-size: .75rem;
  min-width: 300px;
  padding: .25em;
}

input:required,
textarea:required 
{
  border-color: red;
}

.Detail-css {
  font-size: 15px;
  color: sienna;
}

/*  ===================================
      media queries. ALWAYS place last
      to override any other settings
    =================================== */

@media (max-width: 750px) {
  .Dashboard {
    display: none;
  }
  .Edit-button {
    margin-bottom: 10px;
  }
  .Edit-button,
  .Red-button {
    margin-left: 80px;
    max-width: 200px;
  }
  .Watch-detail .Back-button {
    margin-left: 80px;
  }  
  .WatchForm-container .Back-button {
    display:block;
    margin: 35px auto;
    margin-top: 15px;
    width: 300px;
  } 
}

@media (max-width: 950px) {
  footer {
    display: none;
  } 
}

@media (max-width: 830) {
  .Navbar {
    margin: 0 auto;
  }
}

@media (min-width: 1500px) {
  body {
    font-size: 1.30rem;
  }
  .Detail-css {
    font-size: 1.25rem;
  }
  .Input-element {
    font-size: 1rem;
    height: 2rem;
  }
  .WatchDetail {
    margin-bottom: 10px;
    max-width: 500px;
  }
  .WatchForm-header {
    font-size: 2rem;
    margin-bottom: 15px;
  }
  .WatchForm-image {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .Choose-image {
    margin-bottom: 10px;
  }
}
