@import url('https://fonts.googleapis.com/css?family=Fresca&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, button {
  font-family: 'Fresca', sans-serif;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome and Opera */
}

.Homepage-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
}

.Homepage {
  align-items: center;
  background-color: white;
  color: black; 
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  justify-content: center;
  min-height: 100vh;
}

.Homepage .container {
  display: grid;
}

.Homepage-button {
  background-color: #61BD4F;
  border-color: transparent;
  color: white;
  font-size: 3rem; 
  padding: 20px;
  text-transform: uppercase;
}

.input-element {
  font-size: 15px;
  width: 300px;
}

.Login {
  align-items: center;
  background-color: white;
  color: black; 
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  justify-content: center;
  min-height: 100vh;
}

.Login .container {
  display: grid;
}

.Login-button {
  background-color: #61BD4F;
  border-color: transparent;
  color: white;
  font-size: 2rem; 
  margin-top: 5px;
  padding: 10px;
  text-transform: uppercase;
}

.Signup {
  align-items: center;
  background-color: white;
  color: black; 
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  justify-content: center;
  min-height: 100vh;
}

.Signup .container {
  display: grid;
}

.Signup-button {
  background-color: #61BD4F;
  border-color: transparent;
  color: white;
  font-size: 2rem; 
  margin-top: 5px;
  padding: 10px;
  text-transform: uppercase;
}

.register {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  justify-content: center;
  margin: 0 auto;
  max-width: 300px;
  /* padding-top: 20px; */
  text-align: center;
}

.WatchDetail {
  margin-bottom: 5px;
}

.AddWatch {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  justify-content: center;
  margin: 0 auto;
  max-width: 300px;
  /* padding-top: 20px; */
  text-align: center;
}

.EditWatch {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  justify-content: center;
  margin: 0 auto;
  max-width: 300px;
  /* padding-top: 20px; */
  text-align: center;
}

.List button {
  background-color: #61BD4F;
  color: white;
  font-size: 1.5rem;
  padding-left: 30px;
  padding-right: 30px;
  text-align: center;
  text-transform: uppercase; 
}

.Watchedit-button {
  background-color: #61BD4F;
  color: white;
  font-size: 1rem;
  margin-right: 20px;
  margin-top: 5px;
  padding: 8px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase; 
}

.Watchdelete-button {
  background-color: red;
  color: white;
  font-size: 1rem;
  margin-top: 5px;
  padding: 8px;
  text-align: center;
  text-transform: uppercase; 
}

input:required,
textarea:required {
  border-color: red !important;
}

.Save-button {
  background-color: #61BD4F;
  border-color: transparent;
  color: white;
  font-size: 2rem; 
  margin-top: 5px;
  padding: 10px;
  text-transform: uppercase;
}

.Back-button {
  background-color: lightgray;
  border-color: transparent;
  color: black;
  font-size: 1rem; 
  margin-left: 20px;
  margin-top: 10px;
  padding: 10px;
  text-transform: uppercase;  
}

button:focus {
  outline:0;
}

button:hover {
  cursor: pointer;
}
